name: Continuous Integration

on:
  pull_request:
    branches: [main, master]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: forum_api_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: admin
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d forum_api_test"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      PGHOST: localhost
      PGPORT: 5432
      PGDATABASE: forum_api_test
      PGUSER: postgres
      PGPASSWORD: postgres
      NODE_ENV: test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm ci

      - name: Wait for PostgreSQL
        run: |
          for i in {1..10}; do
            if pg_isready -h localhost -p 5432 -U postgres; then
              echo "Postgres is up"
              break
            fi
            echo "Waiting Postgres..."
            sleep 3
          done

      - name: Run tests
        run: npm test
